.container {
  width: 75%;
  margin: 2rem auto;
  padding-bottom: 0.8rem;
  background: #ddd;
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
  padding: 1rem;
  margin: 0px 10px;
}

li a {
  text-decoration: none;
  color: inherit;
}

li a:active  {
  background-color: #f24;
}

.main {
  width: 98%;
  margin: 0 auto;
  height: 50vh;
  background: #eee;
}